body {
	background-color: #2E4A83;
	color: #000;
	font-family: "Bahnschrift", sans-serif;
}

article {
	background-color: black;
	margin: 2vh 8vw 2vh 8vw;
    padding: 2vh 6vw 2vh 6vw;
    background-color: white;
    border-radius: 1vw;
}

h1, h2{
	text-align: center;
}

p {
	line-height: 125%;
}

.logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
	
}

.topleft{
	position: fixed;
	top: 2.5%;
	left: 2.5%;
	width:10%;
	z-index: 1;
	background-color: #fff;
	padding: 0.5%;
}

.topmiddle{
	position: fixed;
	top: 5%;
	left: 35%;
	right:35%;
	width:30%;
	text-align: center;
	padding-top: 1%;
	background-color: #fff;
}

button.btn.btn-primary{
	background-color: #2E4A83;
	border-color: #2E4A83;
}