@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding');

body{
  background-color: black;
  margin: 0 0 0 0;
  color: white;
  font-family: "Nanum Gothic Coding";
}

main{
  width: 100%;
  position: absolute;
  font-size: 5em;
  height: 5em;
  text-align: center;
  top: 50%;
  margin-top: -0.5em;
}

div{
  width: 100%;
  position: absolute;
  text-align: center;
  top: 35%;
}

img{
  width: 6em;
  position: absolute;
  left: 50%;
  top: 63%;
  margin-left: -3em;
}
