<!DOCTYPE html>
<html lang="de">
  <head>
    <%- head_template %>
    <script src="./js/aframe.min.js"></script>
    <script src='./js/aframe-ar.js'></script>
    <script src='./js/main.js'></script>
    <link href="./css/style.css" rel="stylesheet">
    <script>
      AFRAME.registerComponent('currentmarker', {
      init: function () {
        let marker = this.el;
        marker.addEventListener('markerFound', async function() {
          let markerId = marker.id.split('marker-barcode-')[1];
          console.log(markerId)
          await axios.post('/api/progress', {
            marker: Number(markerId)
          });
          console.log("current marker found")
          window.document.getElementById("success").style.visibility = 'visible';
        });
        marker.addEventListener('markerLost', function() {
          var markerId = marker.id;
        });
      }
  });
  AFRAME.registerComponent('previousmarker', {
      init: function () {
        let marker = this.el;
        marker.addEventListener('markerFound', async function() {
          let markerId = marker.id;
          await axios.post('/api/progress', {
            marker: Number(markerId.split('marker-barcode-')[1]) + 1
          });
          console.log("previous marker found")
        });
        marker.addEventListener('markerLost', function() {
          var markerId = marker.id;
        });
      }
  });
  AFRAME.registerComponent('checkstate',{
    init: function(){
      let scene = this.el;
      scene.addEventListener("loaded", function(){
        window.document.getElementById("loadingSpinner").style.display="none";
        window.document.getElementById("game").style.display="contents";
        window.document.getElementById("messageBox").style.display="inline";
        document.getElementById("logo").style.display="inline";
      });
    }
  });
    </script>
    <title>Beat the Berg!- The Game</title>
  </head>
  <body style="width: 100vw !important; height: 140vh !important; overflow: hidden;">
    <noscript>
      <strong>Beat the Berg! funktioniert nur mit JavaScript. Bitte erlaube JavaScript um fortzufahren.</strong>
    </noscript>
	  <a href="./" id="logo"><img class="topleft" src="./logos/logo1.png"></a>

    <div class="topmiddle" id="messageBox">
      <p class="topmiddle text">Finde den nächsten Marker und scanne ihn, um den nächsten Hinweis zu erhalten!</p>
    </div>

    <div class="lds-ring" id="loadingSpinner"><div></div><div></div><div></div><div></div></div>
    <div id="game" style="display:none">
    <a-scene style="z-index: -1; max-height: 140vh; max-width: 100vw; overflow: hidden;" embedded vr-mode-ui="enabled: false" arjs='sourceType: webcam; detectionMode: mono_and_matrix; matrixCodeType: 4x4; debugUIEnabled: false' checkstate>
      <a-camera-static></a-camera-static>
      <a-assets checkstate>
        <%- current_asset %>
      </a-assets>

      <!--
        //DAS BEI ALLEN GESPERRTEN MARKERN EINFUEGEN
        <a-marker type='barcode' value='' id='locked' registerevents>
        <a-entity>
          <a-entity obj-model="obj: #locked-obj; mtl: #locked-mtl" scale="0.01 0.01 0.01" rotation="270 0 0">
            <a-animation attribute="rotation"
                      dur="10000"
                      fill="none"
                      to="0 0 360"
                      repeat="indefinite"></a-animation>
          </a-entity>
        </a-entity>
      </a-marker>
      -->

      <%- current_marker %>

    </a-scene>
    <button class="btn btn-success" id="success" style="visibility:hidden" onclick="location.reload()">
      Nächsten Hinweis freischalten!
    </button>
  </div>
  </body>
  <script>
  let hideInfo = function(){
    document.getElementById('messageBox').style.display = "none"
  }
  window.onload = function(){
    setTimeout(hideInfo, 3500);
  }
  </script>
</html>
