<!DOCTYPE html>
<html lang="de">
  <head>
    <%- head_template %>
    <script src="./js/aframe.min.js"></script>
    <script src='./js/aframe-ar.js'></script>
    <script src='./js/main.js'></script>
    <link href="./css/style.css" rel="stylesheet">
    <script>
      AFRAME.registerComponent('registerevents', {
      init: function () {
        let marker = this.el;
        marker.addEventListener('markerFound', async function() {
          let markerId = marker.id;
          await axios.post('/api/progress');
        });
        marker.addEventListener('markerLost', function() {
          var markerId = marker.id;
        });
      }
  });
  AFRAME.registerComponent('checkstate',{
    init: function(){
      let scene = this.el;
      scene.addEventListener("loaded", function(){
        window.document.getElementById("loadingSpinner").style.display="none";
        window.document.getElementById("game").style.display="contents";
        window.document.getElementById("messageBox").style.display="inline";
        document.getElementById("logo").style.display="inline";
      });
    }
  });
    </script>
    <title>Beat the Berg!- The Game</title>
  </head>
  <body style="width: 100vw !important; height: 100vh !important; overflow: hidden;">
    <noscript>
      <strong>Beat the Berg! funktioniert nur mit JavaScript. Bitte erlaube JavaScript um fortzufahren.</strong>
    </noscript>

    <!-- add some info at the top of the page -->
	  <a href="./index.html" id="logo" style="display:none"><img class="topleft" src="./logos/logo1.png"></a>

    <div class="topmiddle" id="messageBox" style="display:none">
      <p>Finde den nächsten Marker und scanne ihn, um den nächsten Hinweis zu erhalten!</p>
    </div>

    <button class="btn btn-success cursor" style="margin-top: 100px;" onclick="console.log('hi')">
      Nächsten Hinweis freischalten!
    </button>

    <div class="lds-ring" id="loadingSpinner"><div></div><div></div><div></div><div></div></div>

    <div id="game" style="display:none">
    <!-- Define your 3d scene and enabled ar.js -->
    <a-scene style="z-index: -1; max-height: 100vh; max-width: 100vw; overflow: hidden;" embedded vr-mode-ui="enabled: false" arjs='sourceType: webcam; detectionMode: mono_and_matrix; matrixCodeType: 4x4; debugUIEnabled: false' checkstate>
      <!-- Define a static camera -->
      <a-camera-static></a-camera-static>
      <a-assets checkstate>
        <%- current_asset %>
      </a-assets>
      <!--
        //DAS BEI ALLEN GESPERRTEN MARKERN EINFUEGEN
        <a-marker type='barcode' value='' id='locked' registerevents>
        <a-entity>
          <a-entity obj-model="obj: #locked-obj; mtl: #locked-mtl" scale="0.01 0.01 0.01" rotation="270 0 0">
            <a-animation attribute="rotation"
                      dur="10000"
                      fill="none"
                      to="0 0 360"
                      repeat="indefinite"></a-animation>
          </a-entity>
        </a-entity>
      </a-marker>
      -->

      <%- current_marker %>

    </a-scene>

  </div>
  </body>
</html>
