<!DOCTYPE html>
<html lang="de">
  <head>
		<%- head_template %>
		<link href="./css/style.css" rel="stylesheet">
    <title>Beat the Berg! - Instructions</title>
  </head>
  <body>
	<article>
		<a href="./"><img class="logo" src="./logos/logo1.png"></a>
		<h1>Willkommen bei Beat the Berg!</h1>
		<h2>Beat the Berg ist die beste interaktive Augmented-Reality Schnitzeljagd, die ihr je gesehen habt!</h2>
		<h3>So funktioniert es: </h3>
			<ul><li>Auf dem ganzen Campus sind Marker verteilt, die es in der richtigen Reihenfolge zu finden gilt.</li>
			<li>Wenn du den Marker anvisiert, erscheint der nächste Hinweis.</li>
			<li>Damit die Schnitzeljagd funktionieren kann, musst du der Webseite den Zugriff auf deine Kamera erlauben.</li>
			<li>Auch benötigst du das ganze Spiel über eine Internetverbindung.</li>
			<li>Je nach Verbindungs&shy;geschwindigkeit dauert das erste Laden etwas, hab also ein paar Sekunden Geduld.</li>
			<li>Der erste Marker wartet schon auf dich!<wbr> Trage deinen Name ein und drücke auf Start!</li></ul>
		<form action="/api/registeruser" method="POST">
			<div class="form-group">
				<label for="InputName">Name</label>
				<input name="user" type="Name" class="form-control" id="InputName" aria-describedby="NameHelp" placeholder="Name">
			</div>
		  <button type="submit" class="btn btn-primary">Start!</button>
		</form>
	</article>
  </body>
</html>
