<html>
  <head>
    <%- head_template %>
    <title>BeatTheBerg – Leaderboard</title>
  </head>
  <body>
    <table
      summary="Title"
      title="Title"
      class="table table-striped"
    >
      <thead class="thead-dark">
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Zeit</th>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>200</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>500</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>900</td>
        </tr>
        <tr class="table-warning" style="border-top: 2px solid black !important;">
          <th scope="row">200</th>
          <td>Quentin</td>
          <td>9000</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
